.popup__close-button_type_infoTooltip {
  right: calc(50% - 15px);
  top: -55px;
}

@media screen and (min-width: 768px) {
  .popup__close-button_type_infoTooltip {
    right: -40px;
    top: -40px;
  }
}