.header__menu-button {
  grid-area: menu;
  justify-self: end;
  padding: 0;
  margin-right: 30px;
  margin-top: 27px;
  width: 24px;
  height: 18px;
  background-image: url('../../../images/header__menu-button.svg');
  outline: none;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity .5s ease;
}

@media screen and (min-width: 425px) {
  .header__menu-button {
    display: none;
  }
}

.header__menu-button:hover {
  opacity: .6;
}