.popup__close-button {
  position: absolute;
  right: -28px;
  top: -28px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  padding: 0;
  background-image: url('../../../images/popup__close-button.svg');
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  background-color: transparent;
  border: 0;
  transition: opacity .5s ease;
}

@media screen and (min-width: 768px) {
  .popup__close-button {
    right: -40px;
    top: -40px;
    width: 40px;
    height: 40px;
  }
}

.popup__close-button:hover {
  opacity: .6;
}
