.popup__status-icon {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-image: url('../../../images/popup__status-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .popup__status-icon {
    margin-bottom: 32px;
  }
}