# Logs
*/logs
*.log
npm-debug.log*

# dependencies
*/node_modules
.pnp
.pnp.js

# Optional npm cache directory
.npm

# testing
*/coverage

# production
*/build

# misc
.DS_Store
.idea
.vscode
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
yarn-error.log*
