.place__like-button {
  width: 22px;
  height: 19px;
  padding: 0;
  background-image: url('../../../images/places__like-button.svg');
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity .5s ease;
  transition: background-image .1s ease;
}

.place__like-button:hover {
  opacity: .5;
}
