.popup__image-caption {
  margin-top: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .popup__image-caption {
    margin-top: 10px;
  }
}
