.profile__avatar {
  position: relative;
  display: block;
  z-index: 0;
  width: 120px;
  height: 120px;
  border: 0;
  outline: none;
  border-radius: 50%;
  background-image: url('../../../images/profile__avatar.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (min-width: 425px) {
  .profile__avatar {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .profile__avatar {
    margin-left: 27px;
  }
}

@media screen and (min-width: 934px) {
  .profile__avatar {
    margin-left: 0;
  }
}

.profile__avatar::before {
  content:'';
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity .5s ease;
}

.profile__avatar:hover::before {
  opacity: .8;
  background-image: url('../../../images/profile__avatar-editor.svg');
  background-position: center;
  background-repeat: no-repeat;
}
