.entry__caption {
  margin: 0 auto;
  padding: 20px 0 0;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

@media screen and (min-width: 934px) {
  .entry__caption {
    padding-top: 15px;
  }
}
