.entry__submit-button {
  display: block;
  width: 100%;
  height: 40px;
  margin: 173px auto 0;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000;
  transition: background-color .5s ease;
}

@media screen and (min-width: 934px) {
  .entry__submit-button {
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 216px;
  }
}

.entry__submit-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
