.header__container {
  display: none;
  grid-area: container;
  padding: 40px 0;
  text-align: center;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (min-width: 425px) {
  .header__container {
    display: flex;
    margin-right: 30px;
    padding: 0;
    border-bottom: none;
  }
}

@media screen and (min-width: 934px) {
  .header__container {
    margin-right: 0;
  }
}