.profile__edit-button {
  margin-left: 10px;
  width: 18px;
  height: 18px;
  padding: 0;
  background-image: url('../../../images/profile__edit-button.svg');
  background-size: contain;
  outline: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity .5s ease;
}

@media screen and (min-width: 768px) {
  .profile__edit-button {
    margin-left: 18px;
    width: 24px;
    height: 24px;
  }
}

.profile__edit-button:hover {
  opacity: .6;
}
