.popup__container_type_fullscreen-image {
  display: flex;
  justify-content: center;
  max-width: 75vw;
  min-width: 320px;
  width: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}
